<!DOCTYPE html>
<html>
<head>
	<title>Semester V</title>
	<link rel="shortcut icon" href="../../static/music/images/logo.png?v=2" type="image/png">
	<link rel="stylesheet" type="text/css" href="../../static/music/css/sem.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="../../static/music/js/sem.js" type="text/javascript"></script>
</head>
<body>
<div id="header_sem">
	<button id="back" onclick="goBack()">Back</button>
	<a href="index.html"><button id="home">Home</button></a>
	<h1>Computer Science &amp; Engineering</h1>
	<h2>Semester V</h2>
</div>

<script type="text/javascript">
	function goBack(){
		window.history.back();
	}
</script>

<div id="default_image">
	<img id="image1" src="../../static/music/images/semester_back.jpg" title="Please choose any subject to continue...">
</div>


<ul id="subjects">
	<li id="l0">Notes &amp; E-Books</li>
	<li id="l1"><a href="#">Algorithm Design &amp; Analysis</a></li>
	<li id="l2"><a href="#">Communication Skills For Professionals</a></li>
	<li id="l3"><a href="#">Digital Communication</a></li>
	<li id="l4"><a href="#">Industrial Management</a></li>
	<li id="l5"><a href="#">Java Programming</a></li>
	<li id="l6"><a href="#">Software Engineering</a></li>
</ul>


<div>
	<table class="table" id="t1">
		<tr>
			<td>Introduction To Algorithms by Cormen</td>
			<td><a href="https://drive.google.com/file/d/0BwTBgM-WU3ylQWc5UWNBclNyOEE/view?usp=sharing" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Fundamentals Of Algorithms by Horowitz &amp; Sahani</td>
			<td><a href="https://drive.google.com/file/d/0BwTBgM-WU3ylS0ttZk90M2xjeVE/view?usp=sharing" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ADA by Deepak Gupta Part-1</td>
			<td><a href="https://drive.google.com/file/d/0BwTBgM-WU3ylemhHb0l1akVrenM/view?usp=sharing" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ADA by Deepak Gupta Part-2</td>
			<td><a href="https://drive.google.com/file/d/0BwTBgM-WU3ylRERMWTRfMmNJZFE/view?usp=sharing" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ADA Akash Term-1</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3yleTJPLW5uNU1fcFU" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ADA Akash Term-2</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylSzFFdl9zcUF1UGs" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ADA Programs</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylZHpSVG1XVzQtbmM" target="_blank">Download</a></td>
		</tr>
	</table>

	<table class="table" id="t2">
		<tr>
			<td>Comm. Skills For Professionals Part-1</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylRG9fNkR2dnNxaXM" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Comm. Skills For Professionals Part-2</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylbnJScTdyNlhlMGM" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Comm. Ethics</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylWm1abG54Z01TU28" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Comm. Akash</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylVVNQOWlUbXpGSVk" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Johari Window</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylY0RsUUNDdlVGOUE" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Plagiarism</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylWTZYLUdnRS0wdWc" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>The 7 C's of Comm.</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylV3VvVUExcGNMSTA" target="_blank">Download</a></td>
		</tr>
	</table>

	<table class="table" id="t3">
		<tr>
			<td>Comm. System by Simon Haykin</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylR3p1c3RTa25xRW8" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Proakis - Digital Comm.</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylRmJoVjl0ZC1LVkU" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Modern Digital & Analog Comm. by B.P. Lathi</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylZzhqMF9SNHQ5OU0" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Digital Comm. Practicals</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylakRtLVdwbU5FYnM" target="_blank">Download</a></td>
		</tr>
	</table>

	<table class="table" id="t4">
		<tr>
			<td>Industrial Management Part-1</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylRzBMMkE0TndpaU0" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Industrial Management Part-2</td>
			<td><a href="" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>ILO.</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylZkFBQk9zWUZKRlU" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Industrial Relations</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylRHFianhiVnNsSU0" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Labour Legislation</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylak4wb0F4bzZ5TWs" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Trade Union</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylZ29fa3FnNFFvU2c" target="_blank">Download</a></td>
		</tr>
	</table>

	<table class="table" id="t5">
		<tr>
			<td>Java-2 Complete Reference TMH</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylNFhteVYxOUozUnc" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>AWT</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylU0hWYkZzSi1aY2c" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Event Handling</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylUjFVRDBWUGZqc3c" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Java I/O</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylUUg2QnlCdkN2SFU" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>JDBC Notes-1</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylX2hkbjJ2Tnh0Smc" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>JDBC Notes-2</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylN01hcnlaYjloVTQ" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Multithreading</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylZkEyS2VNZFlROEE" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Java Akash</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3yldDFrRTk4Uko3Mjg" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Java Programs</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylWUc3RTkzbEtjeW8" target="_blank">Download</a></td>
		</tr>
	</table>

	<table class="table" id="t6">
		<tr>
			<td>Software Engineering by Pressman</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylX3ppbFRoMldnT1E" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>Software Engineering Viva Questions</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylWmh6WmlsTUxPTm8" target="_blank">Download</a></td>
		</tr>
		<tr>
			<td>UML Diagrams</td>
			<td><a href="https://drive.google.com/open?id=0BwTBgM-WU3ylaE10bGJSYzlsNUk" target="_blank">Download</a></td>
		</tr>
	</table>

</div>


<div id="footer_sem">&copy;The Ultimate Notes</div>

</body>
</html>
